---
- name: Delete VM Demo
  hosts: localhost
  connection: local
  gather_facts: false
  tasks:
    - name: Fail if variables not defined
      ansible.builtin.assert:
        that:
          - aws_region is defined
        fail_msg: "Required variables not set"

    - name: Check if a demo VM is already provisioned
      amazon.aws.ec2_instance_info:
        filters:
          "tag:Name": demo_vm
          "tag:=owner": ansible
          "tag:purpose": demo
          "tag:ansible-role": create_vm
          "tag:ansible-collection": aws.infrastructure_config_demos
          instance-state-name:
            - pending
            - running
            - shutting-down
            - stopping
            - stopped
        region: "{{ aws_region }}"
      register: existing_vm

    - name: Display the exisiting vm
      ansible.builtin.debug:
        msg: " {{ existing_vm }}"

    - name: Delete VM
      amazon.aws.ec2_instance:
        instance_ids:
          - "{{ existing_vm.instances[0].instance_id }}"
        region: "{{ aws_region }}"
        state: absent
      when: existing_vm.instances is defined and existing_vm.instances | length == 1
