---
- name: Peer multiple networks using Transit Gateway
  hosts: localhost
  connection: local
  gather_facts: false
  collections:
    - amazon.aws
    - community.aws
  tasks:
    - name: Fail if variables not defined
      ansible.builtin.assert:
        that:
          - aws_region is defined
          - transit_gateway_id is defined
        fail_msg: "Required variables not set"

    - name: Create Peer Networking Model
      ansible.builtin.import_role:
        name: peer_transit_network
