---
- name: Create VM Demo
  hosts: localhost
  connection: local
  gather_facts: false
  tasks:
    - name: Fail if variables not defined
      ansible.builtin.assert:
        that:
          - aws_region is defined
        fail_msg: "Required variables not set"

    - name: Check if a demo VM is already provisioned
      amazon.aws.ec2_instance_info:
        filters:
          "tag:deployment": ansible
          "tag:purpose": create-vm-demo
          "tag:ansible-role": none
          "tag:ansible-collection": lab.aws_roles
          instance-state-name:
            - pending
            - running
            - shutting-down
            - stopping
            - stopped
        region: "{{ aws_region }}"
      register: existing_vm

    - name: Delete VM
      amazon.aws.ec2_instance:
        instance_ids:
          - "{{ existing_vm.instances[0].instance_id }}"
        region: "{{ aws_region }}"
        state: absent
      when: existing_vm.instances is defined and existing_vm.instances | length == 1
