---
name: Validation CI

on:
  push:
    branches:
      - main
    tags:
      - "v*.*.*"
  pull_request:
    types:
      - opened
      - edited
      - reopened

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Install ansible-lint and yamllint
        run: sudo pip3 install ansible-lint yamllint

      - name: Run ansiblelint
        run: ansible-lint
