---
name: Validation CI

on:
  push:
    branches:
      - main
      - actions
  pull_request:
    types:
      - assigned
      - opened
      - edited
      - reopened
      - synchronize
      - ready_for_review
      - review_requested

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Install ansible-lint and yamllint
        run: sudo pip3 install pre-commit

      - name: Run ansiblelint
        run: pre-commit run
